<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="NotifInformaMasivoMDBEAR">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/ear-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/application" tag="defaultRootSource"/>
        <dependent-module archiveName="NotifInformaMasivoMDBEJB-1.0.0.jar" deploy-path="/" handle="module:/resource/NotifInformaMasivoMDBEJB/NotifInformaMasivoMDBEJB">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="json-20180813.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/json/json/20180813/json-20180813.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-core-2.9.7.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/fasterxml/jackson/core/jackson-core/2.9.7/jackson-core-2.9.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-databind-2.9.7.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/fasterxml/jackson/core/jackson-databind/2.9.7/jackson-databind-2.9.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-annotations-2.9.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/fasterxml/jackson/core/jackson-annotations/2.9.0/jackson-annotations-2.9.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-vfs-1.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-vfs/commons-vfs/1.0/commons-vfs-1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-logging-1.0.4.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-logging/commons-logging/1.0.4/commons-logging-1.0.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="aircastpushengine-client-1.0.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/pe/com/claro/eai/aircastpushengine-client/1.0.0/aircastpushengine-client-1.0.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jsch-0.1.55.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/jcraft/jsch/0.1.55/jsch-0.1.55.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ngagesms-client-1.0.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/pe/com/claro/eai/ngagesms-client/1.0.0/ngagesms-client-1.0.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ws.sms-11.2.0.3.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/smsService/ws.sms/11.2.0.3/ws.sms-11.2.0.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="gson-2.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/google/code/gson/gson/2.2/gson-2.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jersey-core-1.8.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/sun/jersey/jersey-core/1.8/jersey-core-1.8.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jersey-client-1.8.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/sun/jersey/jersey-client/1.8/jersey-client-1.8.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-lang3-3.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/apache/commons/commons-lang3/3.0/commons-lang3-3.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
